<p class="login-box-msg">Cadastre-se para iniciar sua sessão</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group has-feedback">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>

  <% if @minimum_password_length %>
      <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
  <% end %>
  <div class="field form-group has-feedback">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Senha", class: "form-control" %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <div class="field form-group has-feedback">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar senha", class: "form-control" %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class: "btn btn-primary btn-block btn-flat" %>
  </div>
<% end %>

<%# render "admins/shared/links" %>
